<ion-app class="main">
  <ion-header class="ion-padding header">
    <ion-row>
      <ion-col>
        <div class="city">
          {{weather.city}}
        </div>
      </ion-col>
      <ion-col>
        <div class="tempType">
          <ion-segment [(ngModel)]="tempType" mode="md" (ionChange)="tempTypeChanged($event)" value="tempType">
            <span class="degree-mark">&deg;</span>
            <ion-segment-button value="celsius" [ngClass]="{isSelected: tempType === 'celsius'}">
              <ion-label>C</ion-label>
            </ion-segment-button>
            <ion-segment-button value="fahrenheit" [ngClass]="{isSelected: tempType === 'fahrenheit'}">
              <ion-label>F</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="action-location">
          <span (click)="openModal()">Сменить город</span>
          <div (click)="getCurrentGeoLocation()">
            <img src="/assets/icon/location.png" alt="Мое местонахождение">
            Мое местонахождение
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-header>

  <ion-content class="ion-padding">
    <div class="content">
      <ion-row>
        <img src="/assets/icon/cloud.png" width="100" height="100" alt="Дождь">
        {{weather.temp}}&deg;
      </ion-row>
      <ion-row>
        {{weather.description}}
      </ion-row>
    </div>
  </ion-content>

  <ion-footer class="ion-padding footer">
    <ion-row>
      <ion-col>
        <div>
          <span class="caption">Ветер</span>
          {{weather.wind}} м/с
        </div>
      </ion-col>
      <ion-col>
        <div>
          <span class="caption">Давление</span>
          {{weather.pressure}} мм рт. ст.
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div>
          <span class="caption">Влажность</span>
          {{weather.humidity}}%
        </div>
      </ion-col>
      <ion-col>
        <div>
          <span class="caption">Вероятность дождя</span>
          {{weather.rain}}%
        </div>
      </ion-col>
    </ion-row>
  </ion-footer>
</ion-app>
